<div class="container-fluid" *ngFor="let about of about$ | async">
  <div class="row">
    <div class="col-sm">
      <h3>Sobre Mi</h3>
      <p>{{about?.resume}}</p>
      <app-list [title]="'Contacto'" [items]="about?.contact"></app-list>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <app-timeline [title]="'Educacion'" [events]="about?.degrees"></app-timeline>
      <app-list [title]="'Certificados'" [items]="about?.certificates"></app-list>
  </div>
  <div class="row">
    <div class="col-sm">
      <app-timeline [title]="'Experiencia'" [events]="about?.experience"></app-timeline>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <app-list [title]="'Idiomas'" [items]="about?.languages"></app-list>
    </div>
  </div>
  <div class="row pb-5">
    <div class="col-sm">
      <app-list [title]="'Hobies'" [items]="about?.hobies"></app-list>
    </div>
  </div>
</div>