<section id="services" class="section">


    <h2 class="title">ABOUT</h2>
    <div class="section-des">
        Viverra tristique placerat  massa est consectetur quisque nu fames lorem ipsum dolor sit amet consectetu.
    </div>



    <img class="about-img block-right" data-jarallax-element="0 -40" src="images/about-img.jpg" alt="" style="position: relative; z-index: 0; transform: translate3d(-413.332px, 0px, 0px);">

    <ul class="about-info" data-threshold="0 0" data-jarallax-element="40 0" style="position: relative; z-index: 0; transform: translate3d(0px, 0px, 0px);">
        <li>
            <h6>EMAIL</h6>
            <a href="mailto:seradiazpin@unal.edu.co">seradiazpin&#64;unal.edu.co</a>
        </li>
        <li>
            <h6>TITLE</h6>
            <span>Ingeniero de Sistemas</span>
        </li>
        <li>
            <h6>PHONE</h6>
            <a href="tel:+573102462448">(+57) 3102462448</a>
        </li>
    <div id="jarallax-container-4" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; z-index: -100;"><div style="position: fixed;"></div></div></ul>

    <div class="about-text content-670">
        <p *ngFor="let info of data?.about">
            {{info}}        
        </p>
    </div>

    <ul class="serv-link-cover"  style="position: relative; z-index: 0; transform: translate3d(30.658px, 0px, 0px);">
        <li><a href="{{data?.cv}}">DOWNLOAD CV</a></li>
        <li><a href="#">MY PORTFOLIO</a></li>
    <div id="jarallax-container-2" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; z-index: -100;"><div style="position: fixed;"></div></div></ul>

    <div class="content-670">
        <div class="serv-block-wrap">

            <div class="serv-block-item">
                <img src="https://demo.cocobasic.com/ukko-html/images/serv-icon-1.svg" alt="">
                <h4>DESIGN</h4>
                <p>
                    A full stack allaround  designer that may or may not include a guide for specific createive
                </p>
            </div>

            <div class="serv-block-item">
                <img src="https://demo.cocobasic.com/ukko-html/images/serv-icon-2.svg" alt="">
                <h4>DEVELOP</h4>
                <p>
                    Tellus pharetra erat tristique erat donec dignissim etiam sed malesuada enim sodales
                </p>
            </div>

            <div class="serv-block-item">
                <img src="https://demo.cocobasic.com/ukko-html/images/serv-icon-3.svg" alt="">
                <h4>WRITE</h4>
                <p>
                    A full stack allaround  designer that may or may not include a guide for specific createive
                </p>
            </div>

            <div class="serv-block-item">
                <img src="https://demo.cocobasic.com/ukko-html/images/serv-icon-4.svg" alt="">
                <h4>PROMOTE</h4>
                <p>
                    Tellus pharetra erat tristique erat donec dignissim etiam sed malesuada enim sodales
                </p>
            </div>

        </div>
    </div>
</section>