/* ===================================
    3. Home Section CSS
====================================== */

#home {
    height: 100vh;
    padding: 85px 0;
    margin: 0;
}

#home .container-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    height: 100%;
}

#home .main-photo {
    max-height: calc(100vh - 170px);
    width: 536px;
    object-fit: cover;
}

#home .entry-title {
    position: absolute;
    color: #f44647;
    font-weight: 800;
    font-size: 120px;
    line-height: 143px;
    letter-spacing: -4px;
    z-index: 1;   
    left: 0;    
}

#home .entry-title span {
    text-decoration: underline;
}

#home .main-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer;
}

#home .main-btn img {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-name: scroll;
    display: block;
}

@keyframes scroll {

    0% {
        opacity: 1;
        transform: translateY(-25px);
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(0);
    }

}

