<section id="home" class="section section-active">
    <div class="container-wrap">
        <h3 class="entry-title" data-jarallax-element="0 30" style="transform: translate3d(0px, 0px, 0px);">Sergio
            Alejandro <br>Diaz Pinilla <div id="jarallax-container-0"
                style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; z-index: -100;">
                <div style="position: fixed;"></div>
            </div>
        </h3>
        <img class="main-photo block-right" data-jarallax-element="0 -30"
            src="assets/img/photo.jpg" alt=""
            style="position: relative; z-index: 0; transform: translate3d(-0.0005139px, 0px, 0px);">
        <a href="#services" class="main-btn slow-scroll"><img
                src="https://demo.cocobasic.com/ukko-html/images/scroll-icon.svg" alt=""></a>
    </div>
</section>