<!--The content below is only a placeholder and can be replaced.-->
<div class="wrapper">
  <!-- Sidebar -->
  <app-sidebar [visible]= sidebar ></app-sidebar>
  <!-- Page Content -->
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-secondary" (click)="click()">
                <i class="fas fa-align-left"></i>
                <span><i class="bi bi-list"></i></span>
            </button>

        </div>
    </nav>
    <router-outlet></router-outlet>
  </div>

</div>   


