<nav id="sidebar" [ngClass]="{'active': visible}">
  <div class="sidebar-header">
    <h3>Sergio Alejandro Diaz Pinilla</h3>
  </div>
  <ul class="list-unstyled components">
    <li routerLinkActive="active">
      <a routerLink="/about" >About</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/techSkills" >Technical Skills</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/personalProjects">Projects</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/experience" >Experience</a>
    </li>
  </ul>
</nav>