<div class="row">
  <h2 class="pb-3 pt-2 ">{{title}}</h2>
    <div class="col-md-12 col-lg-12 ">
      <div id="tracking">
        <div class="tracking-list" >
          <div class="tracking-item" *ngFor="let event of events">
            <div class="tracking-icon status-intransit">
              <img [attr.src]="event?.logo" class="img-fluid">
            </div>
            <div class="tracking-date">{{event?.startDate}}-{{event?.endDate}}<span>{{event?.subtext}}</span></div>
            <div  class="tracking-content">{{event?.name}}<span *ngIf="!details">{{event?.description}}</span></div>
            <ul *ngIf="details">
              <li *ngFor="let detail of event?.details">
                <i class="bi bi-arrow-right-circle-fill"></i><b style="font-size: 0.8em;">{{detail?.startDate}}-{{detail?.endDate}}</b>   <span>  {{detail?.name}}</span>
                <p style="width: 60%; text-align: justify;"> {{detail?.description}}</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>