<section id="skills" class="section section-active">
    <h2 class="title">Experiencia</h2>
    <div class="section-des">
        A lo largo de mi trayectoria profesional, he tenido la oportunidad de desempeñar diversos roles en varias empresas, consolidando un recorrido en el que he refinado tanto mis habilidades técnicas como las habilidades interpersonales.
    </div>
    <p class="content-670">
        A continuación, presento un resumen de mi historial profesional, destacando los diversos roles y proyectos en los cuales he contribuido con mi experiencia y dedicación laboral.
    </p>

    <ul class="skills-history block-right">
        <li *ngFor="let work of data">
            <span class="date">{{work.endDate}}</span>
           
            <p>
                <strong style="font-size: larger;">{{work.name}}</strong> - <small>{{work.title}}</small>
                <br>
                {{work.description}}
                <br>
                <span *ngFor="let item of work.details">
                    
                    <strong>{{item.startDate}}- {{item.endDate}}</strong> {{item.description}}
                    <br>
                </span>
            </p>
        </li>
    </ul>
    <br>
    <h2 class="title">SKILLS</h2>
    <div class="section-des">
        Esta es una lista de algunas  herramientas  y tecnologías relevantes para mi campo, respaldada por una sólida formación académica y una dedicación constante al aprendizaje.
    </div>
    <ul class="skills-progress">
        <li *ngFor="let skill of dataSkills">
            <div class="card text-center" style="max-width: 18rem; width: 100%;">
                <i [class]="skill?.icon + ' col-sm-3 p-1'" class="card-img-top" style="font-size: 5em; " ></i>
                <div class="card-header">{{skill.name}}</div>
              </div>
        </li>
    </ul>
</section>